*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 28px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.header {
  background-color: #6943FF;
  color: #fff;
  padding: 34px;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.convert-unit-box {
  font-size: 58px;
  font-weight: 800;
  border: 2px solid #B295FF;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 30px 0;
}

.btn {
  color: #3D3D3D;
  background-color: #FFF;
  padding: 10px 28px;
  border-radius: 5px;
  border: 0;
}

.btn-convert {
  font-weight: 500;
}

.units-container {
  background-color: #1F2937;
  padding: 36px 25px;;
}

.units-group {
  text-align: center;
  background-color: #273549;
  color: #CCC1FF;
  padding: 32px;
  margin: 24px 0;
}